
# Prerequisites
*.d
.build
# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.rdi

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.pdb
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
